header {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    min-height: 60px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    header {
      padding: 10px;
      height: auto;
    }
  
    .logo {
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      height: 30px;
    }
  }