<div class="general main">  
    <div class="infotext">
      <img src="/assets/images/web-weiß.png" alt="">
  
    </div>
    <p>
      Analysiere verdächtige URLs, um dich vor böswilligen Cyberangriffen zu schützen
    </p>
    <main>
      <section class="url-input">
        <input 
        type="text" 
        placeholder="Prüfe deine URL" 
        class="input-field"
        [(ngModel)]="url"
        (ngModelChange)="validateUrl()"
        >
        <p>{{ validationMessage }}</p>
        <button (click)="checkUrl()" [disabled]="validationMessage" class="scan-button">SCAN</button>
        <p>{{ message }}</p>
      </section>
    </main>
</div>


