<div class="general main">  
    <div class="infotext">
      <img src="/assets/images/web-weiß.png" alt="">
  
    </div>
    <p>
      Analysiere verdächtige URLs, um dich vor böswilligen Cyberangriffen zu schützen
    </p>
    <main>
      <section class="url-input">
        <input 
        type="text" 
        placeholder="Prüfe deine URL" 
        class="input-field"
        [(ngModel)]="url"
        (ngModelChange)="validateUrl()"
        >
        <p>{{ validationMessage }}</p>
        <button (click)="checkUrl()" [disabled]="validationMessage" class="scan-button">SCAN</button>
        <p>{{ message }}</p>


        <h1>Hallo Tuta-Team!</h1>

        <p>
            <br>

            vielen Dank für die wirklich schöne Coding-Challenge. <br>
            Zum testen bitte ich euch diese 3 URL's zu checken: <br>
            <br>

            <div class="url-row">
                <p class="url">https://example.com</p>
                <button class="copy-btn" (click)="copyContent('https://example.com')">Copy</button>
              </div>
              <br>
              <div class="url-row">
                <p class="url">https://example.com/folder</p>
                <button class="copy-btn" (click)="copyContent('https://example.com/folder')">Copy</button>
              </div>
              <br>
              <div class="url-row">
                <p class="url">https://example.com/file</p>
                <button class="copy-btn" (click)="copyContent('https://example.com/file')">Copy</button>
              </div>


      </section>
    </main>

</div>



