
<body class="general">  
    <div class="infotext">
      <img src="/assets/images/web-weiß.png" alt="">
  
    </div>
    <p>
      Analysiere verdächtige URLs, um dich vor böswilligen Cyberangriffen zu schützen
    </p>
    <main>
      <section class="url-input">
        <input type="text" placeholder="Prüfe deine URL" class="input-field">
        <button class="scan-button">SCAN</button>
      </section>
    </main>
  </body>
  
  <footer>
    <a class="link" href="https://github.com/SirRufusss" target="_blank">
      <span>This code was made with passion</span> <br>
      <img  src="assets/images/github.png" alt="GitHub" class="github-icon">
      <span>
        © by Patrick Sterz (2024)
      </span>
    </a>
  </footer>
    