
<body class="general">
  <header >
    <div class="header-content">
      <img id="logo" src="/assets/tuta/logo-red.svg" alt="Logo" class="logo">
      <h1 class="title">URL Checker</h1>
    </div>
  </header>

  <div class="infotext">
    <img src="/assets/images/web-weiß.png" alt="">

  </div>
  <p>
    Analysiere verdächtige URLs, um dich vor böswilligen Cyberangriffen zu schützen
  </p>
  <main>
    <section class="url-input">
      <input type="text" placeholder="Scan a suspicious URL" class="input-field">
      <button class="scan-button">SCAN</button>
    </section>
  </main>
  <script src="script.js"></script> <!-- Verknüpfung mit externem JavaScript -->
</body>

<footer>
  <a class="link" href="https://github.com/SirRufusss" target="_blank">
    <span>This code was made with passion</span> <br>
    <img  src="assets/images/github.png" alt="GitHub" class="github-icon">
    <span>
      © by Patrick Sterz (2024)
    </span>
  </a>
</footer>
  