#logo {
    width: 150px;
    height: 150px;
    }

.general {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161625;
    color: white;
}

.github-icon {
    height: 40px;
}

.link {
    text-decoration: none;
    color: black;
}

.footer {
    min-height: 100%;
    margin-bottom: -50px;
    background: #666;
    color: #fff;
    line-height: 50px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #F2F2F2;
    color: black;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title {
    margin: 0;
}

main {
    padding: 40px;
}

.url-input {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.input-field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px 0;
}

.input-field:focus {
    outline: none;
    border-color: #850022;
}

.input-field::placeholder {
    color: #fff;
    opacity: 0.7;
}

.scan-button {
    background-color: #850022;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.github-link {
    color: #1E88E5;
    text-decoration: none;
}

.github-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

header, footer {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        justify-content: center;
        align-items: center;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
      
header {
    background-color: #F2F2F2;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
.header-content {
    text-align: center;
}
      
.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    }
      
.title {
    margin: 0;
}

.infotext {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    